body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

form {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="file"] {
  width: 90%;
}

.hidden {
  display: none;
}

#formStatus, #uploadStatus {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}
